:root {
    --bs-primary: #ff5722; /* Your custom primary color */
    --bs-primary-rgb: 255, 87, 34; /* RGB version for transparency utilities */ 
}
body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard property */
}

.tms-menu{
    cursor: pointer;
}

.notification-pane{
    height: calc(100vh - 140px);
    padding-bottom: 60px;
    /* Optional: Add a background color to visualize the area */
    overflow-y: auto;
    overflow-x: hidden;
}
.notification-pane::-webkit-scrollbar{
    width: 0px;
    display: none;
}

.tms-message-field {
    margin-bottom: -18px;
}
.tms-message-field:hover{
    color: #145b5d;
    cursor: pointer;
}
.tms-message-field::selection{
    background-color: #ffffff;
}

.tms-message { 
    width: 100%;
    position: relative; 
    display: inline-block; 
    max-width: calc(100% - 100px); /* adjust width as needed */ 
    white-space: nowrap; overflow: hidden; 
    padding-left: 10px;
} 
.tms-message::after { 
    content: ""; 
    position: absolute; 
    right: 0; 
    top: 0; 
    width: 100px; /* fade width */ 
    height: 100%; 
    background: linear-gradient(to right, transparent, white); 
}

.tms-canvas{
    /* Apply the mirror effect immediately */
    transform: scaleX(-1);
    /* Vendor prefixes were a historical necessity, less so now, but safe practice: */
    -webkit-transform: scaleX(-1); /* For older Safari/Chrome versions */
    -moz-transform: scaleX(-1);    /* For older Firefox versions */
}

/* .form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
} */

.form-check-input:checked {
  background-color: #145b5d !important;
  border-color: #145b5d !important;
}

.settings-selection{
    margin-top: 205px;
    transition: 0.5s ease-in-out;
}

.settings-selection.shown{
    margin-top: 0px;
}

.settings-object:hover{
    color: #145b5d;
}

.dropdown {
    display: inline-block;     /* important */
    cursor: pointer;
    user-select: none;
    position: relative;
    background: #fff;
}

.dropdown-label {
    white-space: nowrap;       /* prevent wrapping */
}

.dropdown-list {
    border-radius: 5px;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #aaa;
    background: #fff;
    display: none;
    z-index: 999;
    min-width: 100%;           /* list matches label width */
    width: max-content;
}

.dropdown-item {
    padding: 10px;
    white-space: nowrap;
}

.dropdown-item:hover {
    background: #f0f0f0;
}

textarea:read-only, select:read-only{
    background-color: white !important;
}

.task_files_container a{
    display: block !important;
    text-decoration: none;
}