  #spinnerSplash{
    position:fixed;
    inset:0;
    background:rgba(255,255,255,.9);
    backdrop-filter:blur(2px);

    display:grid;
    place-items:center;

    z-index:99999;

    transition:opacity .3s ease;
}

/* Spinner */
#spinnerSplash::before{
    content:"";
    width:60px;
    height:60px;

    border:5px solid #ddd;
    border-top-color:#1F5647;

    border-radius:50%;

    animation:spinner .8s linear infinite;
}

@keyframes spinner{
    to{
        transform:rotate(360deg);
    }
}


/* Copyright Preloader PRISM @ Joshua */
#preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: #fff;
}

/* Loader */
#preloader::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 110px;
    aspect-ratio: 1;
    display: grid;

    border: 5px solid transparent;
    border-radius: 50%;
    border-color: #710000 transparent;

    animation: l16 1s linear infinite;
}

/* Second rotating ring */
#preloader::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 94px;
    height: 94px;

    transform: translate(-50%, -50%);

    border: 5px solid transparent;
    border-radius: 50%;
    border-color: #f6c500 transparent;

    animation: l16 .6s linear infinite reverse;
}

/* Logo */
#preloader .logo {
    display: none;
}

/* Logo using extra background layer */
#preloader {
    background:
        url("../../../assets/img/EVSU-PULSE.png") center center/70px no-repeat,
        #fff;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

@keyframes l16 {
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}